        <nav class="navbar navbar-light bg-primary">
            <!--Logo-->
            <a class="navbar-brand" href="#">
            <img src="../../assets/img/WingMoney.png" width="140" height="80" alt="">
            </a>

            <!--Barra de Pesquisa-->
            <form class="form-inline mr-auto ml-auto">
                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-info ml-2 my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>

            <!--Login-->
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-info">Entrar</button>
                </div>
                <div class="col-6">
                    <a><i class="fas fa-user" style="font-size: 40px;"></i></a>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Categoria A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categoria B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categoria C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categoria D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre Nós</a>
                </li>
                </ul>

            </div>
    </nav>

    <!--Footer-->
    
    <footer class="page-footer font-small pt-4" style="background-color:#007bff;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h4 class="text-white">Siga-nos nas redes sociais</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="" target="_blank" class=""><i class="fab fa-lg fa-github-square"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class=""><i class="fab fa-lg fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class=""><i class="fab fa-lg fa-instagram-square"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class=""><i class="fab fa-lg fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-copyright text-white text-center py-3" style="background-color: #182C61;">
                <span> &copy; 2021 Copyright:  </span>
                <a href="text-light" target="" href="">Anjos do Preço</a>
            </div>
      
    </footer>