<footer class="page-footer font-small pt-4" style="background-color:#007bff;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mr-auto ml-auto">
            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class=""><i class="fab fa-lg fa-github-square"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class=""><i class="fab fa-lg fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class=""><i class="fab fa-lg fa-instagram-square"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class=""><i class="fab fa-lg fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright text-white text-center py-3" style="background-color: #182C61;">
        <span> &copy; 2021 Copyright:  </span>
        <a href="text-light" target="" href="">Anjos do Preço</a>
    </div>

</footer>