<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="carouselAlimenticio" class="carousel slide w-75 mt-3 mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselAlimenticio" data-slide-to="0" class="active"></li>
                <li data-target="#carouselAlimenticio" data-slide-to="1"></li>
                <li data-target="#carouselAlimenticio" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Produtos Alimenticios</h5>
                    <p>Promoção</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselAlimenticio" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Voltar</span>
                </a>
                <a class="carousel-control-next" href="#carouselAlimenticio" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Proximo</span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide w-75 mt-3 mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Produtos Eletrônicos</h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Voltar</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Proximo</span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide w-75 mt-3 mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Games da Semana!</h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://wallpapercave.com/wp/wp6656049.jpg" alt="RENGAR">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>RENGAR O MAIOR CAÇADOR </h5>
                    <p>GATINHO :3</p>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Voltar</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Proximo</span>
                </a>
            </div>
        </div>
    </div>
</div>