<div class="container">
  <div class="row">
    <div class="col-md-6">
<div class="card-columns mt-5 mb-5 ml-3">
    <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/xAmWQih.jpg" alt="Foto de perfil - Enzo Fulaneto">
        <div class="card-body">
          <h5 class="card-title">Enzo Fulaneto</h5>
          <p class="card-text">Olá, me chamo Enzo Fulaneto, tenho 18 anos e você está dentro do maior projeto que eu fiz (por enquanto!). Por aqui passei por todas as fases de um dev Full-Stack, desde o back-end aos detalhes do front, junto com o grupo, principalmente o grande Lucas Aguiar. Se houve interesse no meu perfil, confira abaixo meu LinkedIn e GitHub e se sinta a vontade pra entrar em contato comigo!</p>

          <div class="text-center">
         <!-- Linkedin -->
         <a class="btn btn-outline-light btn-floating m-1 color" href="https://www.linkedin.com/in/enzo-fulaneto-32a9b4205" target="blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 color" href="https://github.com/EnzoFulaneto" target="blank" role="button"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
</div>
</div>

<div class="col-md-6">
<div class="card-columns mt-5 mb-5">
  <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/ul9824R.jpg" alt="Foto de perfil - Lucas Aguiar">
      <div class="card-body">
        <h5 class="card-title">Lucas Aguiar</h5>
        <p class="card-text">Prazer, meu nome é Lucas, eu tenho 20 anos, atualmente 
          estou me formando em Análise e Desenvolvimento de 
          Sistemas na UNIP, além de ter cursado Desenvolvimento 
          de Sistemas na Etec e participar do Bootcamp da 42Sp, sou 
          Proativo e Autodidata, decidi me tornar um profissional na 
          área aos 15 anos, filho do meio de dois pais trabalhadores e 
          de duas irmãs, tenho como objetivo fazer pós-graduação 
          em Ciência da Computação e futuramente me formar em 
          Cybersecurity.</p>

        <div class="text-center">
       <!-- Linkedin -->
       <a class="btn btn-outline-light btn-floating m-1 color" href="https://www.linkedin.com/in/lucasaguiardev/" target="blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1 color" href="https://github.com/LukyAguiar" target="blank" role="button"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<hr>
    <div class="d-flex justify-content-center align-items-center">
        
      <div class="row">
            <h4>Sobre nós</h4>
          </div>
    <div class="mb-5">
        <div class="card text-white bg-info mt-5 mr-5" style="max-width: 18rem;">
            <div class="card-body">
              <p class="card-text">O Anjos do Preço é um 
                e-commerce de um supermecado. Seu diferencial é a ideia central do projeto, que em parceria com o governo dá descontos, de cerca de 20%,  em produtos de cesta básica a pessoas de baixa renda (a qual deve ser comprovada através de documentos).</p>
            </div>
          </div>
    </div>
</div>
