<div class="card-columns mt-5 mb-5 ml-3 mr-4">
    <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/xAmWQih.jpg" alt="Foto de perfil - Enzo Fulaneto">
        <div class="card-body">
          <h5 class="card-title">Enzo Fulaneto</h5>
          <p class="card-text">Olá, me chamo Enzo Fulaneto, tenho 18 anos e você está dentro do maior projeto que eu fiz (por enquanto!). Por aqui passei por todas as fases de um dev Full-Stack, desde o back-end aos detalhes do front, junto com o grupo, principalmente o grande Lucas Aguiar. Se houve interesse no meu perfil, confira abaixo meu LinkedIn e GitHub e se sinta a vontade pra entrar em contato comigo!</p>

          <div class="text-center">
         <!-- Linkedin -->
         <a class="btn btn-outline-light btn-floating m-1 color" href="https://www.linkedin.com/in/enzo-fulaneto-32a9b4205" target="blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 color" href="https://github.com/EnzoFulaneto" target="blank" role="button"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
</div>

<hr>
    <div class="d-flex justify-content-center">
        
        <div class="row ml-5">
            <h4>Sobre nós</h4>
        </div>
    <div class="row">
        <div class="card text-white bg-info mt-5 mr-5" style="max-width: 18rem;">
            <div class="card-body">
              <p class="card-text">O Anjos do Preço é um 
                e-commerce de um supermecado. Seu diferencial é a ideia central do projeto, que em parceria com o governo dá descontos, de cerca de 20%,  em produtos de cesta básica a pessoas de baixa renda (a qual deve ser comprovada através de documentos).</p>
            </div>
          </div>
    </div>
</div>
